.custom-file-label{
    overflow: hidden;
}

.invalid-feedback{
    display: block;
}

.bg-password-image{
	background-image: url("/img/bg-password-image.jpg");
}

.bg-confirm-password{
	background-image: url("/img/bg-confirm-password.jpg");
}

.bg-login-image{
	background-image: url("/img/bg-login-image.jpg");
}
